#set($subject = "✅$device.name: Online")
#set($digest = "$device.name Online $dateTool.format('dd-MM-YYYY HH:mm', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Cihaz: $device.name<br>
Online<br>
Zaman: $dateTool.format("dd-MM-YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)<br>
<br>
<br>
Bildirim almak istemiyorsanız buraya tıklayabilirsiniz ->> <a href="$webUrl/settings/notifications?token=$token">Bildirimleri İptal Et</a>
<br>
UYARI: Bu epostaya lütfen cevap vermeyiniz, Herhangi bir sorun görüş öneri veya şikayetiniz için 
<a href=www.takipon.com>TakipOn web sitemizden</a><br> İletişim Formunu kullanmayı unutmayınız.
</body>
</html>
