#set($subject = "TakipOn Rapor Servisi")
#set($digest = "Raporunuz Hazır: $webUrl$reportUrl")
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .email-container {
            max-width: 600px;
            margin: 30px auto;
            background: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border: 1px solid #e0e0e0;
        }
        .header {
            text-align: center;
            background-color: #004d99;
            color: #ffffff;
            padding: 20px;
            border-radius: 8px 8px 0 0;
        }
        .header h1 {
            margin: 0;
            font-size: 20px;
        }
        .content {
            color: #333333;
            padding: 20px;
        }
        .content p {
            margin: 15px 0;
        }
        .content a {
            color: #004d99;
            text-decoration: none;
        }
        .content a:hover {
            text-decoration: underline;
        }
        .footer {
            text-align: center;
            font-size: 12px;
            color: #999999;
            margin-top: 20px;
        }
        .footer a {
            color: #004d99;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="email-container">
        <div class="header">
            <h1>Raporunuz Hazır!</h1>
        </div>
        <div class="content">
            <p>Zamanlanmış Raporunuza aşağıdaki linkten ulaşabilirsiniz.</p>
             <p><a href="$webUrl$reportUrl">$webUrl$reportUrl</a></p>
             <br>
             <br>
            <p>Herhangi bir sorunuz veya desteğe ihtiyacınız olursa lütfen bize ulaşın.</p>
            <p>Sevgilerle,</p>
            <p><strong>TakipOn Ekibi</strong></p>
        </div>
        <div class="footer">
            <p>
                UYARI: Bu epostaya lütfen cevap vermeyiniz. Herhangi bir sorun, görüş, öneri veya şikayetiniz için 
                <a href="https://www.takipon.com">TakipOn web sitemizden</a> iletişim formunu kullanabilirsiniz.
            </p>
        </div>
    </div>
</body>
</html>